<svg
  id="background"
  width="1728"
  height="1235"
  viewBox="0 0 1728 1235"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <g opacity="0.75" filter="url(#filter0_f_39_143)">
    <circle cy="1000" r="264" fill="url(#paint0_linear_39_143)" />
  </g>
  <g opacity="0.65" filter="url(#filter1_f_39_143)">
    <circle cx="1720" cy="264" r="379" fill="url(#paint1_linear_39_143)" />
  </g>
  <defs>
    <filter
      id="filter0_f_39_143"
      x="-485"
      y="515"
      width="970"
      height="970"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="BackgroundImageFix"
        result="shape"
      />
      <feGaussianBlur
        stdDeviation="110.5"
        result="effect1_foregroundBlur_39_143"
      />
    </filter>
    <filter
      id="filter1_f_39_143"
      x="1120"
      y="-336"
      width="1200"
      height="1200"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="BackgroundImageFix"
        result="shape"
      />
      <feGaussianBlur
        stdDeviation="110.5"
        result="effect1_foregroundBlur_39_143"
      />
    </filter>
    <linearGradient
      id="paint0_linear_39_143"
      x1="196.5"
      y1="902"
      x2="-2.55853e-05"
      y2="1264"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="var(--bttm-left-blur-1)" />
      <stop offset="1" stop-color="var(--bttm-left-blur-2)" />
    </linearGradient>
    <linearGradient
      id="paint1_linear_39_143"
      x1="1720"
      y1="-115"
      x2="1720"
      y2="643"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="var(--top-right-blur-1)" />
      <stop offset="1" stop-color="var(--top-right-blur-2)" />
    </linearGradient>
  </defs>
</svg>
<div id="content">
  <div class="header">
    <h1>Seu mapa astral pronto para você!</h1>
    <div class="subheader">
      <p>
        Após preencher os dados você receberá um email com seu mapa astral
        completo.
      </p>
    </div>
    <form class="form" (ngSubmit)="onSubmit(form)" #form="ngForm" class="form">
      <div class="form-group">
        <label for="name">Nome</label>
        <input
          type="text"
          id="name"
          name="name"
          placeholder="Digite seu nome"
          required
          ngModel
          [ngClass]="{ invalid: form.submitted && !name.valid }"
          #name="ngModel"
        />
      </div>
      <div class="form-group">
        <label for="nascimento">Nascimento</label>
        <input
          type="date"
          id="nascimento"
          name="nascimento"
          required
          ngModel
          [ngClass]="{ invalid: form.submitted && !nascimento.valid }"
          #nascimento="ngModel"
        />
      </div>
      <div class="form-group">
        <label for="city">Cidade</label>
        <input
          type="text"
          id="city"
          [formControl]="cityControl"
          [matAutocomplete]="auto"
          placeholder="Digite sua cidade"
          required
        />
        <input type="hidden" name="city" [ngModel]="cityControl.value" />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let city of filteredCities" [value]="city.name" [matTooltip]="city.name" matTooltipPosition="right">
            {{ city.name }}
          </mat-option>
        </mat-autocomplete>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Digite seu email"
          required
          ngModel
          [ngClass]="{ invalid: form.submitted && !nascimento.valid }"
          #email="ngModel"
        />
      </div>
      <div class="form-group">
        <button type="submit" class="bttn primary">Enviar</button>
      </div>
    </form>
    <div *ngIf="submitted" class="mensagem-customizada">
      Seu mapa astral foi solicitado com sucesso. Por favor, verifique seu email
      em alguns minutos.
    </div>
    <div *ngIf="errorMessage" class="mensagem-erro">
      {{ errorMessage }}
    </div>
  </div>
</div>
